python-dotenv
streamlit
tiktoken
langchain
langchain-core
langchain-community
langchain-classic
langchain-chroma
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
protobuf
beautifulsoup4
requests
